* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1.UnityHeader {
  color: blueviolet;
}

a.UnityLink {
  font-size: xx-large;
}

label.feedback {
  display: block;
}

/* Selects by class */
article {
  color: darkorchid;
}

/* Selects by id */
#logo {
  font-size: 50px;
  color: royalblue;
}

/* Selects ALL the elements */
* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Selects the p directly below an h2 */
h2 + p {
  color: brown;
}

/* Selects the li's with a ul parent */
ul > li {
  color: crimson;
}

#submit {
  padding: 100px 50px 25px 10px;
}

#reset {
  margin: 2rem;
}

/* html {
    font-size: 62.5%;
} */

button {
  margin: 2rem;
  padding: 2rem 4rem;
  background: none;
  border: 0.25rem solid blue;
  color: blueviolet;
  font-size: 1.2rem;
  border-radius: 1rem;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: burlywood;
}

figure.building {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

footer.foot {
  margin: auto;
  display: block;
  text-align: center;
}

.container {
  background: blue;
  height: 100%;
  width: 80%;
  margin: auto;
  padding: 7.5%;
}

.box1,
.box2,
.box3 {
  width: 20%;
  height: 20%;
  padding: 5%;
}

.box1 {
  background: cadetblue;
  position: absolute;
  transform: translate(50%, -100%);
}

.box2 {
  background: brown;
}

.box3 {
  background: blanchedalmond;
}
