/* Selects ALL the elements */
* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
    font-size: 62.5%;
} */

/* Selects by class */
article {
  color: darkorchid;
}

/* Selects by id */
#logo {
  font-size: 50px;
  color: royalblue;
}

/* Selects the p directly below an h2 */
h2 + p {
  color: brown;
}

/* Selects the li's with a ul parent */
ul > li {
  color: crimson;
}

h1.UnityHeader {
  color: blueviolet;
  text-shadow: 3px 3px 3px black;
}

a.UnityLink {
  font-size: xx-large;
}

label.feedback {
  display: block;
}

#submit {
  padding: 100px 50px 25px 10px;
}

#reset {
  margin: 2rem;
}

button {
  margin: 2rem;
  padding: 2rem 4rem;
  background: none;
  border: 0.25rem solid blue;
  color: blueviolet;
  font-size: 1.2rem;
  border-radius: 1rem;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: burlywood;
  cursor: pointer;
}

figure.building {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

footer.foot {
  margin: auto;
  display: block;
  text-align: center;
}

.container {
  background: blue;
  height: 100%;
  width: 80%;
  margin: auto;
  padding: 7.5%;
  position: relative;
}

.box1,
.box2,
.box3 {
  width: 20%;
  height: 20%;
  padding: 5%;
}

.box1 {
  background: cadetblue;
  position: absolute;
  top: 0%;
  right: 0%;
  /* transform: translate(50%, -100%); */
}

.box2 {
  background: brown;
  position: sticky;
  top: 0%;
}

.box3 {
  background: blanchedalmond;
}

button:hover {
  background: wheat;
}

input:focus {
  cursor: text;
}

h1::after {
  content: "css";
}

.clear {
  clear: both;
}

a {
  color: purple;
  text-decoration: none;
  font-size: 1.2rem;
}

nav.header {
  background: lightsalmon;
  padding: 2rem;
}

nav ul {
  float: right;
  list-style: none;
}

nav li {
  float: left;
  margin: 0rem 4rem;
}

.hero-section {
  background-image: url("/images/pexels-eva-elijas-5978265.jpg");
  height: 10rem;
  background-position: right;
  background-size: cover;
  text-align: center;
  color: yellow;
  text-shadow: 3px 3px 3px black;
}

.form-section {
  text-align: center;
}

form input,
form label,
form textarea {
  display: block;
  font-size: 1rem;
}

form input,
form textarea {
  margin: auto;
  width: 30%;
}

form button {
  margin: 3rem;
}
