* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1.UnityHeader {
  color: blueviolet;
}

a.UnityLink {
  font-size: xx-large;
}

label.feedback {
  display: block;
}

/* Selects by class */
article {
  color: darkorchid;
}

/* Selects by id */
#logo {
  font-size: 50px;
  color: royalblue;
}

/* Selects ALL the elements */
* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Selects the p directly below an h2 */
h2 + p {
  color: brown;
}

/* Selects the li's with a ul parent */
ul > li {
  color: crimson;
}

#submit {
  padding: 100px 50px 25px 10px;
}

#reset {
  margin: 100px;
}
